{%extends 'base.html'%}

{% block content %}
{{block.super}}


   <div class="hero-image">
  
      <div class="topnav">
      
      <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
   <div class="hero-text">
       
    <p>Captured Love </p> 
        <i class="fa fa-heart" style="color:#c17a4f;"></i>
        <p> Captured Memories</p> 
    
   </div>
   <div class="container-icon">
      
     
     
      <i  class="fa fa-thumbs-up" >
         <p>like</p> </i><br>
      <i class="fa fa-share">
       <p>share</p>  </i> <br>
      <i class="fa fa-comment" >
        <p> comment</p></i>
     
   </div>
</div>
</div>
<div class="container">

   <!-- Looping through images   -->
 
 
   <div class="row">
    <div class="col-md-5">
      <span id="locations">
          {% for location in locations %}
              <a class="btn btn-outline-info btn-sm" id="btn"
                 href="/location/{{location.name}}">{{location.name}}</a>
          {%endfor%}
       </span>
      </div>
    {% for image in images %}
     <!-- displaying images  -->
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="col-md-6">
        <div class="card">
          <h4 class="card-title">{{image.Image_Name}}</h4>
          
          <div class="view overlay">
            <img class="card-img-top" src="" alt="{{article.title}}">
          </div>
          <div class="card-body">
            
            <img src="{{image.Image.url}}" alt="{{image.Image_Name}}"  class="img-responsive" alt="Image">
            <a class="btn btn-pink" href="{{article.urlToImage}}">View</a>
          </div>
      
        </div>
      
   </div>
   </div>
 
   {% empty %}
   <div class="row">
     <h2 class="text-center">oops</h2>
   </div>
   {% endfor %}
 
 </div>
 {% endblock %}